.form-wrapper{
    /* justify-content: center; */
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-top: 20px;
}
#form{
    display: flex;
    flex: column;
    justify-content: center
}
#searchinput{
    width: 75%;
    padding: 5px;
    text-align: center;
}
.button-wrapper{
    margin-top: 15px;
    margin-left:550px;
    border-radius: 50px;
}
#search{
    width: 120px;
    border-radius: 8px;
    padding: 5px;
    background-color: #6F6461;
    color: wheat;
    /* box-shadow: 2px 2px 10px gray; */
    border: none;
}
#clear{
    width:120px ;
    border-radius:8px ;
    padding: 5px;
    background-color: #D83A3A;
    color: wheat;
    /* box-shadow: 2px 2px 10px red; */
    border: none;

}
#clear:hover{
    box-shadow: 5px 3px 10px red;
    transition: 0.5s;
}
#clear:active{
    background-color: #6F6461;
}
#search:hover{
    box-shadow: 2px 2px 10px gray;
    transition: 0.5s;
}
#search:active{
    background-color: #4EEC56;
}
.imagelist-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

body{
    background-color: #FFFDD9;
}
.card{
    margin: 5px;
    border: 2px solid grey;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 4px 7px lightcoral;
}
#form2{
    justify-content: center;
}